h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color:#007bff;
}
  .container {
/* background-color: #ff8400; */
    min-height: 100vh;
    margin: 30 auto;
    padding: 300px 20px;
    width: 100%;
  }
  
  .login-form {
    width: 50%;

    /* background-color: #4b1fd2; */
    background-color: #ffffff;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .login-form h1 {

    text-align: center;
    margin-bottom: 0px;
  }
  
  .form-group {
    margin-bottom: 20px;
    
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .row, .col{
    background-color: #d0d5da;
  }
  