
.container1 {
    margin-top: 80px;
    margin-left: 50px;
  }
  
  .card {
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 300px; /* Fixe la taille des cartes */
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-info {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .card-info li {
    margin-bottom: 5px;
  }
  
  .card-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
  }
  
  .col-md-4 {
    padding: 0 15px;
    width: calc(33.33% - 30px);
    margin-bottom: 30px;
  }
  

  
  .col-md-4 {
    padding: 0 15px;
  }
  
  @media (max-width: 992px) {
    .col-md-4 {
      width: calc(50% - 30px);
    }
  }
  
  @media (max-width: 576px) {
    .col-md-4 {
      width: 100%;
    }
  }
  div.card {
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    width: 450px;
    margin-top: 0px;
  }
  
  
  .wrapper {
    margin: 20px auto 20px;
    max-width: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 5px;
    justify-content: center;
  
  
  }
  
  img.card-img-top {
    background: #b3afaff6;
    min-height: 150px;
    width: 95%;
    text-align: center;
    display: block;
    border-radius: 5px;
  }
  
  h5.card-id {
    text-align: center;
    color: #ffffff;
  }
  
  h4.card-title {
    text-align: center;
    color: rgb(246, 150, 7);
  }
  
  p.card-text {
    color: #ffffff;
    background: rgba(252, 4, 252, 0.971);
    padding: 10%;
  }