div.card {
  display: grid;
  background-color: rgba(255, 255, 255, 0.75);
  width: 450px;
  margin-top: 0px;
}


.wrapper {
  margin: 20px auto 20px;
  max-width: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 5px;
  justify-content: center;


}

img.card-img-top {
  background: #b3afaff6;
  min-height: 150px;
  width: 95%;
  text-align: center;
  display: block;
  border-radius: 5px;
}

h5.card-id {
  text-align: center;
  color: #ffffff;
}

h4.card-title {
  text-align: center;
  color: rgb(246, 150, 7);
}

p.card-text {
  color: #ffffff;
  background: rgba(252, 4, 252, 0.971);
  padding: 10%;
}