h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: blue;
}

form.login-form {
  margin: 6px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -165px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #6ac2f6;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
  background-color:#007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
